@import "../../../shared/styles/variables.module.scss";

.wrapper {
  display: flex;
  gap: clamp(12px, 5vw, 30px);
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .text {
    color: $secondary;
    margin-left: 10px;
  }
}
