@import "../../../styles/variables.module.scss";

.customInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $secondary;
  box-shadow: none;
  width: 146px;
  height: 32px;
  padding: 0;
}

.customInput input {
  &::placeholder {
    font-family: Arial;
    color: $secondary;
    font-size: 18px;
    text-align: start;
  }
}
